{% extends 'AppCoder/base.html' %}

{% load static %}

{% block title %} Inicio {% endblock title %}

{% block main %}


<div class="row">
    {% for curso in object_list %}
        <div class="card" style="width: 18rem;" >
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">{{ curso.nombre }}</h5>
            <p class="card-text">CAMADA: {{ curso.camada }}</p>
            <a href="{% url 'CursoDetail' curso.id %}" class="btn btn-primary">Ver</a>
            <a href="{% url 'CursoUpdate' curso.id %}" class="btn btn-primary">Editar</a>
            <a href="{% url 'CursoDelete' curso.id %}" class="btn btn-primary">Borrar</a>
            </div>
        </div>
    {% endfor %}
</div>

<a class="btn btn-primary btn-xl rounded-pill mt-5" href="{% url 'CursoCreate' %}">Agregar nuevo</a>

{% endblock main %}
