<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <p style="color: red"> Hola {{nombre}}, estamos haciendo uso de variables por contexto</p>
        <p style="color: green">Y podemos acceder al apellido "{{apellido}}" porque tenemos acceso a ambas variables.<br>
        También aplicamos estilos pero luego lo haremos con CSS porque no es buena práctica hacerlo en el archivo html.</p>
        <h2>Notas:</h2>
        {% for n in notas %}
            {% if n <= 4 %}
                <p style="color: red">Reprobado: {{n}}</p>
            {% else %}
                <p style="color: green">Aprobado: {{n}}</p>
            {% endif %}
        {% endfor %}
    </body>
</html>